@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Varela+Round&display=swap');

body {
    background-color: #1DB954;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    font-family: 'ubuntu', sans-serif;
}

nav ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li {
    padding: 12px;
}

.brand img {
    width: 50px;
    padding: 0px;
}

.brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.3rem;
    transition: transform 0.3s ease; /* Adds transition for smooth effect */
}

.brand:hover {
    transform: scale(1.2); /* Enlarge the text on hover */
}

.container {
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'ubuntu', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');
    background-position: right; /* Adjusts the background image to the right side */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    background-size: cover; /* Ensures the background image covers the entire container */
}

.bottom {
    position: sticky;
    height: 100px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons {
    margin-top: 14px;
}

.icons i {
    cursor: pointer;
}

#myProgressBar {
    width: 100vw;
    text-align: center;
    cursor: pointer;
}

.songItemContainer {
    margin-top: 30px;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: #EA4335;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease; /* Adds transition for smooth effect */
}

.songItem:hover {
    background-color: #FF6347; /* Changes background color on hover */
    color: white; /* Changes text color on hover */
    transform: scale(1.05); /* Enlarge the song item on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow effect */
}

.songItem img {
    width: 43px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp {
    margin: 0 23px;
}

.timestamp i {
    cursor: pointer;
}

.songInfo {
    position: absolute;
    left: 10vw;
    font-family: 'ubuntu', sans-serif;
}

.songInfo img {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}
